*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button {
  width: 70px;
  padding: 4px 6px;
  cursor: pointer;
  border: none;
  background-color: #5affd8;
  border-radius: 4px;
}

input,
textarea {
  padding: 5px 10px;
  border-radius: 4px;
  margin: 5px 0;
  border: .3px solid #000;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  width: 75%;
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.btn-box {
  width: 30%;
  display: flex;
}

.btn-box button {
  margin: 0 10px;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment-box {
  padding: 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 5%);;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.comment p {
  margin-bottom: 7px;
}

.comment button {
  margin-left: 10px;
}

.text-bold {
  font-weight: bold;
}

.margin-left {
  margin-left: 2rem;
}

.different-background {
  background-color: azure;
}